body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
   padding-top: 3em;
   
}

/* Picture taking whole viewport  */
.page-content-bg{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9) ), url("/../assets/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #ddd;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
}

.page-content-text {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
line-height: 1.4em;
width: 100%;
text-shadow: 2px 2px #000;
align-items: center;
font-family: 'Roboto', sans-serif;
}

.page-content-big-text{
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    color: white;
   
}


.small-text{
    font-size: 1.1em;
    font-weight: 100;
   display: none;
    color: white;
    text-transform: lowercase;
    margin: 0;
   

}


.fa-angle-down{
    text-decoration: none;
    color: #ddd;
    padding: 0.5em;
  width: 5em;
  text-align: center;
}

.arrow {
    display: flex;
    justify-content: center;
}
.fa-angle-down:hover{
   opacity: 0.2;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.fa-bolt {
    width: 100%;
    text-align: center;
    color: #A72B24;
}

.hot-offers{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.offer-span-one, .offer-span-two {
    flex-grow: 1;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex-direction: column;  
    align-items: center;
    margin: 1em;
} 

.buffe-includes {
    color: #A72B24;
}

.erbjudanden {
    line-height: 0.2em;
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
    font-family: 'Rancho', cursive;
  }
  
  
.menu-button-parent {
    text-align: center;
    margin-top: 3em;
}
.go-to-menu {
   
    color: #A72B24;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    border: 1px solid #A72B24;
    text-align: center;
    border-radius: 0.5em;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.go-to-menu:hover {
    color: white;
    background-color: #A72B24;
}

/* Call to order */
.phone-number{
    background: linear-gradient( rgba(219, 2, 2, 0.8), rgba(83, 17, 17, 0.8) ), url("/../assets/behind-phone.jpg");
    height: 10em;
   display: flex;
   justify-content: center;
   margin-top: 2em;

   
}
.phone-number h1{
    font-size: 1.9em;
    font-weight: 500;
    border: 3px solid black;
   height: 3em;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   width: 16em;
   align-items: center;
   justify-content: center;
 
}
.phone-number a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.phone-number a:hover {
   opacity: 0.5;
}

/* Contact wrapper */

.homepage-contact-info {
    flex-wrap: wrap;
    display: flex;
    margin-top: 1em;
}
.open-hours {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    flex-grow: 1;
    padding-left: 2em;
    font-size: 1.4em;
}
.find-us {
    text-align: center;
}
.google-maps {
    flex-grow: 2;
}
.about-us {
    display: flex;
    padding: 1em;
}
.about-us p{
   width: 70%;
   border: 1px solid red;
}
.about-us img{
    border: 1px solid red;
    border-radius: 10em;
    width: 20em;
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    color:#b3b3b3;
    height: 70%;
    width: 100%;
    overflow: hidden;
    padding-top: 2em;
}
.footer-contact {
    display: flex;
    justify-content: center;
}
    

.footer-contact-wrapper{
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
   
    width: auto;
    display: flex;
    flex-direction: column;
}

.footer-contact-wrapper a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #b3b3b3;
    margin-top: 1em;
    
   
}
.copyright{
    text-align: center;
    width: 100%;
    border-top: 1px solid #333;
    background-color: #0d0d0d;
    height: 5em;
}


footer .footer-links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1em;
    justify-content: center;
    margin-top: 1em;
}

footer .footer-links li a{
    color: #b3b3b3;
    line-height: 2em;
    text-decoration: none;
    padding-left: 1em;
   
}

footer .footer-links li a:hover{
   color:  #A72B24;
   
}

.fa-map-marker-alt, .fa-phone{
    color: #A72B24;
    margin-right: 0.5em;
}

.fa-facebook-f{
    background-color: #3B5998;
    color: white;
    padding: 1em;
   border-radius: 50%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-family: font
}

.fa-facebook-f:hover{
    background-color: #A72B24;
}

/* Bouncing arrow */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-15px);
    }
  }