body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #E8E8E8; */
}

main {
   padding-top: 3em;
   
}

/* Picture taking whole viewport  */
.page-content-bg{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/../assets/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 92vh;
    color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-content-text {
    line-height: 2.4em;
width: 100%;
text-shadow: 2px 2px #000;
font-family: 'Montserrat', sans-serif;
display: flex;
align-items: center;
flex-direction: column;
text-transform: uppercase;
}

.page-content-big-text{
    font-size: 3em;
    color: #e60033;
   /* color: #6F2232; */
    transition: all .5s linear;
    margin: 0;
    text-transform: uppercase;
}

.page-content-text p {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    transition: all .5s linear;
    }




.fa-angle-down{
    text-decoration: none;
    color: #fff;
    text-align: center;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}


.bounce {
    display: flex;
    justify-content: center;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

main {
/* background-color: #E8E8E8; */
}
.hot-offers{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.offer-span-one, .offer-span-two {
    height: 20em;
    flex-grow: 1;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5em;
  
} 

.offer-span-one h2, .offer-span-two h2 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #e60033!important;
}
.offer-span-one p, .offer-span-two p {
    font-size: 1.1em;
    margin: 0;
   color: #000;
}

.buffe-includes {
   margin: 1em;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   width: 100%;
}

.erbjudanden {
    color: #e60033;
    line-height: 0.2em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  
.menu-button-parent {
    text-align: center;
    margin-top: 3em;
}
.go-to-menu {
    color: #fff;
    background: #e60033;
    text-decoration: none;
    font-size: 1.4em;
    padding: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    border-radius: 0.3em;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.go-to-menu span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .go-to-menu span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .go-to-menu:hover span {
    padding-right: 25px;
  }

  .go-to-menu:hover {
    background-color: rgb(218, 181, 60);
  }
  
  .go-to-menu:hover span:after {
    opacity: 1;
    right: 0;
  }

  .news-and-call-container {
      display: flex;
      margin-top: 5em;
      height: 30em;
  }
  .news {
      height: 100%;
      background: rgb(218, 181, 60);
     padding-left: 3em;
     padding-right: 3em;
      width: 50%;
      text-align: right;
  }

  .call-to-order {
    width: 50%;
    color: #e60033;
    height: 100%;
    font-size: 1.3em;
    padding-left: 1em;
  }

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(20, 0, 0, 0.5), rgba(20, 0, 0, 0.7) ), url("/../assets/china.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 25em;
    
}
.about-us-text{
    background-color: rgba(238, 0, 44, 0.7)!important;
    width: 100%;
    font-size: 1.2em;
    color: #ddd!important;
    padding: 0.4em;
    padding-top: 1em;
}
.about-us-text h1{
color: #fff;
font-size: 2em;
margin: 0;
font-weight: 700;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

/* FOOTER */
footer {
    padding: 1em;
    background: rgb(218, 181, 60);
    color: #333;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.footer-contact-wrapper{
    font-size: 1.3em;
    padding-left: 3em;
    justify-content: space-between;
    display: flex;
}

.footer-social-media {
   margin-top: 0.2em;
   
   text-align: center;
   
}
.footer-contact-wrapper a{
    color: #333;
    margin-top: 1em;
    text-decoration: none;
}

.copyright{
    font-size: 1em;
    color: #333;
    margin: 0!important;
    display: flex;
   justify-content: space-between;
    margin-top: 1em;
    background: rgb(218, 181, 60);
}

.copyright a{
    color: black;
}
footer .footer-links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-top: 1em;
    font-size: 1.2em;
    border-top: 1px solid #ddd;
}
footer .footer-links li a{
    color: #000;
    line-height: 2em;
    text-decoration: none;
    padding-left: 1em;
}
footer .footer-links li a:hover{
   color: #000;
   
}
.fa-map-marker-alt, .fa-phone{
    color: #e60033;
    margin-right: 0.5em;
}

.fa-map-marker-alt:hover, .fa-phone:hover, .fa-at:hover{
    opacity: 0.5;
}
.fa-facebook-f{
    background-color: #e60033;
    color: white;
    padding: 1em;
   border-radius: 50%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}
.fa-facebook-f:hover{
    background-color: #3B5998;
}

.white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:rgb(211, 173, 49);
    margin-top: 4em;
  }

  .skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    margin-top: 4em;
    background: linear-gradient(to right bottom, rgb(218, 181, 60) 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
  }
  



/* Bouncing arrow */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-15px);
    }
  }