header{
    width: 100%;
    height: 4em;
    background-color: rgba(0, 0, 0);
    overflow: hidden;
    transition: height 0.5s 0ms;
    z-index: 1000;
    }
    
    header li a{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        line-height: 3em;
        display: block;
        text-decoration: none;
        color: #ddd;
        font-size: 2em;
        white-space: nowrap;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }

    
    header li a:hover{
        color: #A72B24;
    }

    ul{
        border-top: 1px solid #333;
        padding-left: 0;
        padding-top: 2em;
        
    }
    
    .active{
        color: #A72B24;
    }
    .title{
        font-size: 2em;
        text-decoration: none;
        display: inline-block;
        color: #A77A48;
        font-family: 'Rancho', cursive;
       font-weight: 100;
        margin: 0;
        padding-left: 0.6em;
        padding-top: 0.4em;

    }

    .title span {
        display: none;
    }
    
    header .menu-button{
        padding: 0.6em;
        font-size: 2em;
        float: right;
        margin: 0;
        color: #ddd;
    }

    header.fullscreen{
        height: 100vh;
    }
    

    @media screen and (min-width: 768px) {

        header {
            width: 20%;
            height: 100vh;
           position: fixed;
           top:0px;
           bottom:0px;
           left:0px;   
            
        }
    
        .title{
           text-align: center;
           width: 100%;
           font-size: 2em;
           margin-top: 2em;
            
        }
    
        header .menu-button{
            display: none;
        }

        .title span {
            display: initial;
        }

    
    }