/* Everything over 768 px */
@media screen and (min-width: 768px) {
    .wrap-everything{
        width: 80%;
        margin-left: 20%;
    }


    .page-content-bg{
        height: 100vh;
    }

    .title{
        font-size: 1.7em;
        text-decoration: none;
        display: inline-block;
        color: #A77A48;
        font-family: 'Rancho', cursive;
       font-weight: 100;
        margin-top: 0;

    }
    footer .footer-contact-wrapper a{
        text-decoration: none;
       
    }
}