/* Everything over 768 px */
@media screen and (min-width: 768px) {
    .wrap-everything{
        width: 85%;
        margin-left: 15%;
    }

    .page-content-bg{
        height: 100vh;
    }

    footer .footer-contact-wrapper a{
        text-decoration: none;
    }

    footer .footer-links{
        display: none;
    }

    .buffe-includes {
        margin: 0 auto;
        text-align: center;
        width: 50%;
     }
     
     .about-us-text{
        background-color: rgba(0, 0, 0, 0.5);
        width: 50%;
        font-size: 1.2em;
        padding: 1em;
        color: #fff;
     }

     section .open-hours {
         margin-top: 0;
     }

}